/*~~~~~~~~~~~~~~~~~*/
.snippet{
	color:#111;
	height:100%;
	position:relative;
	font-family:Oswald;
}
.snippet>div.preview>img,
.snippet>div.preview>video{
	width:100%;
	height:100%;
	object-fit:cover;
}
.snippet>div.caption{
	line-height:1;
}
.snippet div.caption::first-letter{
	color:#D94;
}

/*~~~~~~~~~~~~~~~~~*/

.grid{
	display:grid;
	margin:0 auto;
	max-width:1260px;
}

/*~~~~~~~~~~~~~~~~~*/

.today>a>div.snippet{
	font-size:0;
	color:white;
	background-color:black;
}
@media (max-width:560px){
	.today{
		margin:5px;
		padding:2px;
	}
	.today>a>div.snippet div.caption{
		padding:10px;
		font:24px/1.2 Oswald;
	}
}
@media (min-width:561px){
	.today{
		padding:4px;
		grid-gap:4px;
	}
	.today>a>div.snippet div.caption>span{
		padding:0 10px;
		box-decoration-break:clone;
		-webkit-box-decoration-break:clone;
		background-color:rgba(0,0,0, .8);
	}
}
@media (min-width:561px) AND (max-width:721px){
	.today>a>div.snippet{
		display:flex;
		align-items:center;
	}
	.today>a:nth-child(even)>div.snippet{
		flex-direction:row-reverse;
	}
	.today>a>div.snippet div.caption{
		font:32px/1 bravo;
	}
}
@media (min-width:721px){
	.today{
		grid-template-columns:1fr 1fr 1fr;
	}
	.today>a:nth-child(1),
	.today>a:nth-child(5){
		grid-column:1/3;
	}
	.today>a:nth-child(4){
		grid-column:2/4;
	}
	.today>a:nth-child(1)>div.snippet,
	.today>a:nth-child(4)>div.snippet,
	.today>a:nth-child(5)>div.snippet{
		display:flex;
		align-items:center;
	}
	.today>a:nth-child(4)>div.snippet{
		flex-direction:row-reverse;
	}
	.today>a:nth-child(1)>div.snippet>div.preview,
	.today>a:nth-child(4)>div.snippet>div.preview,
	.today>a:nth-child(5)>div.snippet>div.preview{
		width:68%;
		height:100%;
	}
	.today>a:nth-child(1)>div.snippet div.caption,
	.today>a:nth-child(4)>div.snippet div.caption,
	.today>a:nth-child(5)>div.snippet div.caption{
		width:45%;
		line-height:1.24;
		font-family:bravo;
		position:absolute;
		transform:translateY(-50%);
	}
	.today>a:nth-child(1)>div.snippet div.caption,
	.today>a:nth-child(5)>div.snippet div.caption{
		right:0;
	}
	.today>a:nth-child(4)>div.snippet div.caption{
		left:5%;
	}
	.today>a>div.snippet div.caption{
		padding:10px 0;
		line-height:1.2;
	}
}
@media (min-width:721px) AND (max-width:900px){
	.today>a>div.snippet div.caption{
		font-size:2.6vw;
	}
	.today>a:nth-child(1)>div.snippet div.caption,
	.today>a:nth-child(4)>div.snippet div.caption,
	.today>a:nth-child(5)>div.snippet div.caption{
		font-size:3.8vw;
	}
}
@media (min-width:901px){
	.today>a>div.snippet div.caption{
		font-size:26px;
	}
	.today>a:nth-child(1)>div.snippet div.caption,
	.today>a:nth-child(4)>div.snippet div.caption,
	.today>a:nth-child(5)>div.snippet div.caption{
		font-size:40px;
	}
}

/*~~~~~~~~~~~~~~~~~*/

#subfeed{
	background-color:#FAFAFA;
}

.next-page{
	padding:10px;
	background-color:white;
}
.next-page>a{
	padding:10px;
	font-size:22px;
}

@media (min-width:580px) AND (max-width:840px){
	.next-page{
		max-width:620px;
		grid-template-columns:1fr 1fr;
	}
}
@media (min-width:580px) AND (max-width:1140px){
	.next-page>*:nth-child(1),
	.next-page>a:nth-child(6),
	.next-page>a:nth-child(11){
		font-size:28px;
		grid-column:1/3;
	}
}
@media (min-width:841px){
	.next-page>a>div.snippet{
		display:flex;
		flex-direction:column;
		justify-content:space-around;
	}
}
@media (min-width:841px) AND (max-width:1140px){
	.next-page{
		max-width:1080px;
		grid-template-columns:310px 310px auto;
	}
}
@media (min-width:1141px){
	.next-page{
		max-width:1220px;
		grid-template-columns:300px 300px auto auto;
	}
	.next-page>*:nth-child(1),
	.next-page>*:nth-child(8),
	.next-page>a:nth-child(15){
		font-size:28px;
		grid-column:1/3;
	}
}